# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\UW Bothell 2019-2023 STUFF\CSS classes\CSS 143 code\CSS143B-2020Fall-homework1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
